body {
  margin: 0;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

.page-wrapper {
  max-width: 50%;
  margin: 0 auto;
}

.accordion__item {
  transition: all 0.1s;
}

.accordion__item:active {
  transform: scale(1.05);
}

.accordion__radio {
  display: none;
}

.accordion__label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #cccccc;
}

.accordion__meme-name {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.6;
  transition: all 0.3s;
}

.accordion__radio:checked ~ .accordion__header > .accordion__meme-name,
.accordion:hover .accordion__meme-name {
  opacity: 1;
}

.accordion__item:active .accordion__header > .accordion__meme-name {
  opacity: 0.6;
}

.accordion__icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(./images/expand-arrow.png) center/cover;
  opacity: 0;
  transition: all 0.3s;
}

.accordion:hover .accordion__icon {
  opacity: 1;
}

.accordion__radio:checked ~ .accordion__header > .accordion__icon,
.accordion__item:hover .accordion__icon {
  /* background: url(./images/collapse-arrow.png) center/cover; */
  transform: rotate(180deg);
}

.accordion__meme {
  display: inline-block;
  margin: 0 auto;
  max-height: 0;
  opacity: 0;
  max-width: 0;
  transition: all 0.3s;
}

.accordion__radio:checked ~ .accordion__meme,
.accordion__item:hover .accordion__meme {
  max-height: 100vh;
  max-width: 70%;
  margin: 2rem auto;
  opacity: 1;
}

.accordion__item:active .accordion__meme {
  opacity: 0.6;
  transition-duration: 0.1s;
}
